html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}

.myAppDemoWT .redText {
    color: #0066cc;
    font-weight: bold;
    font-family: Georgia;
}

.myAppDemoWT .userName {
    font-size: 1rem;
    color: #6a6d70;
    font-weight: bold;
    padding-left: 10px;
    /*text-shadow: 1px 1px 2px #ccc;*/
}